*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.formulaire {
    border: 3px solid black;
    border-radius: 10px;
    height: 50%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.formulaire fieldset input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.552);
}
.formulaire .submit {
    height: 30px;
    width: 200px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    position: relative;
    cursor: pointer;
}
table tr {
    height: 80px;
}